
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>{{model.business.name}}</h1>
        <br>
        <img class= "details-img"src={{model.business.photos}} alt= {{model.business.name}}>
        
        <ul>
            <li><a href= {{model.business.url}}> Visit Website</a></li>
            <li>Phone:{{model.business.display_phone}}</li>
            <li>Address: {{model.business.location.formatted_address}}</li>
            <li>Rating: {{model.business.rating}}</li>
            <li>Price: {{model.business.price}}</li>
        </ul>

  {{#if model.favorite}}
  <button class="btn btn-dark "{{action 'unsave'}}>Unsave</button>
  {{else}}
  <button class="btn btn-dark "{{action 'save'}}>Save</button>
  {{/if}}


        {{outlet}}
    </div>
</div>